* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50B498;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #50B498;
  box-shadow:  20px 20px 60px #28222276,
             -20px -20px 60px #08080862;
  border-radius: 20px;
}

.Chessboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.promotion-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F3FEB8;
  border: 1px solid #6C946F;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.promotion-dialog h3 {
  margin: 0 0 10px 0;
}

.promotion-dialog button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #6C946F;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.promotion-dialog button:hover {
  background-color: #587D56;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #6C946F;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #587D56;
  transform: scale(1.2);
}

h2, p {
  color: #fff;
}
